html { 
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.5rem;
	border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.125rem;
	background-color: rgba(255, 130, 0, 0.8);
}
	
::-webkit-scrollbar-track {
	border-radius: 0.125rem;
	background-color: #0D0D11;
}

/* container */
.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* outline: solid red;  */

	@media screen and (min-width: 1300px) {
			max-width: 1300px;
	}
}

* {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}

body { 
  background-color: rgba(22, 21, 27, 255);
}